<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>Server Side JavaScript</h1>
    <ul>
        <% for(var i = 0; i < topics.length; i++) { %>
            <li>
                <a href='/topic/<%=topics[i]%>'>
                    <%=topics[i] %>
                </a>
            </li>
        <% } %>
    </ul>
    <article>
        <h2><%=title %></h2>
        <p style="width: 500px;"><%=description %></p>
    </article>
    <p><a href="http://localhost:3000/topic/new">New!!</a></p>
</body>
</html>