html 
    head 
        title 개발 스택에는 어떤 것이 있나요?
    body
        h3 다음 중 설명을 원하는 스택을 클릭해주세요
        a(href="http://localhost:3000/stacks?id=0") NodeJS 
        br
        a(href="http://localhost:3000/stacks?id=1") NestJS 
        br
        a(href="http://localhost:3000/stacks?id=2") SpringBoot

        p= output